$color-primary: #5ec576;
$color-secondary: #ffcb03;
$color-tertiary: #ff585f;
$color-primary-darker: #4bbb7d;
$color-secondary-darker: #ffbb00;
$color-tertiary-darker: #fd424b;
$color-primary-opacity: #5ec5763a;
$color-secondary-opacity: #ffcd0331;
$color-tertiary-opacity: #ff58602d;
$gradient-primary: linear-gradient(to top left, #39b385, #9be15d);
$gradient-secondary: linear-gradient(to top left, #ffb003, #ffcb03);
$text-color-1: #444;
$text-color-2: #222;
$text-color-3: #333;
$text-color-4: #666;
$text-color-5: #aaa;
$dot-bg-color: #b9b9b9;
$dot-active-bg-color: #888;
$f3-bg-color: #f3f3f3;
$section-border-color: #ddd;
$bg-color-navbar: rgba(255, 255, 255, 0.95);
$bg-color-footer: #37383d;
$overlay-bg-color: rgba(0, 0, 0, 0.5);