@use '../1-base/variables' as var;

.features__card{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 3rem;
    row-gap: 2rem;
    margin-bottom: 5rem;

    &__img{
        width: 100%;
    }

    &__content{
        place-self: center center;
        width: 70%;
    }

    &__title{
        margin: 1.5rem 0;
        font-size: 2rem;
        font-weight: 600;
    }

    &__description{
        font-size: 1.5rem;
        line-height: 2;
        color: var.$text-color-4;
    }
}