@use '../1-base/variables' as var;

.operations{
    &__card{
        display: none;
    }

    &__card--active{
        display: flex;
        justify-content: center;
        padding: 4rem 5rem 6rem 5rem;
    }

    &__title{
        font-size: 2rem;
        font-weight: 500;
        margin-bottom: 2rem;
    }

    &__description{
        font-size: 1.7rem;
        color: var.$text-color-4;
        line-height: 2;
        font-weight: 300;
    }

    &__text{
        width: 80%;
    }   

    &__icon{
        margin-right: 4rem;
    }
}